@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    height: 768px;
    cursor: pointer;
}

#content {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
    cursor: pointer;
    background-image: url(../material/sea.png);
    background-repeat: no-repeat;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}


#boat {
    position: absolute;
    bottom: 210px;
    left: 30px;
    width: 210px;
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    z-index: 6;
    cursor:pointer;
}
#boat:hover{
    transition: 0.7s;
    transform: scale(1.03);
}

#Animals {
    position: absolute;
    top: 192px;
    left: 189px;
    width: auto;
    cursor:pointer;
}

.island {
    width: 350px;
}

.island-image {
    width: 740px;
}

#content-image {
    position: absolute;
    top: 85px;
    left: 156px;
    width: 430px;
    z-index: 2;
}

.buliding_left {
    width: 65px;
    z-index: 3;
    cursor:pointer;
}

.buliding_right {
    width: 65px;
    z-index: 3;
    cursor:pointer;
}

/*.buliding_left,.buliding_right:hover{
    transition: 0.7s;
    transform: scale(1.1);
}*/

.buliding_left,.buliding_right{
    transition: 0.7s;
    transform: scale(1.1);
}

#island-name-animal{
    position: absolute;
    top: 40px;
    left: 286.3125px;
    padding: 5px 60px 5px 60px;
    color:#FF9797;
    background-color: rgba(0,0,0,0.3);
    font-weight: 700;
    font-size: 60px;
}

#boat:hover{
    transition: .7s;
    transform: scale(1.1); 
}

.title {
    font-size: 12px;
    border: 3px solid #DDD;
    border-radius: 10px;
    color: white;
    background-color: rgba(3.0, 146.0, 94.0, 0.5);
    padding: 8px;
    z-index: 4;
}

#animal-building-image-0 {
    position: absolute;
    /*top: 217px;
    left: 130px;*/
	top: 222px;
    left: 140px;
}

#animal-building-title-0 {
    position: absolute;
    /*top: 278px;
    left: 122px;*/
	top: 290px;
    left: 130px;
}

#animal-building-image-1 {
    position: absolute;
    top: 277px;
    left: 239px;
}

#animal-building-title-1 {
    position: absolute;
    top: 343px;
    left: 230px;
}

#animal-building-image-2 {
    position: absolute;
    top: 344px;
    left: 346px;
}

#animal-building-title-2 {
    position: absolute;
    top: 405px;
    left: 333px;
}

#animal-building-image-3 {
    position: absolute;
    /*top: 326px;
    left: 485px;*/
	top: 315px;
    left: 475px;
}

#animal-building-title-3 {
    position: absolute;
    top: 387px;
    left: 473px;
}

#animal-building-image-4 {
    position: absolute;
    /*top: 222px;
    left: 530px;*/
	top: 240px;
    left: 525px;
}

#animal-building-title-4 {
    position: absolute;
    top: 300px;
    left: 505px;
}

#animal-building-image-5 {
    position: absolute;
    top: 235px;
    left: 383px;
}

#animal-building-title-5 {
    position: absolute;
    top: 295px;
    left: 370px;
}

#animal-building-image-6 {
    position: absolute;
    top: 185px;
    left: 295px;
}

#animal-building-title-6 {
    position: absolute;
    top: 250px;
    left: 285px;
}

#animal-building-image-7 {
    position: absolute;
	top: 95px;
    left: 280px;
}

#animal-building-title-7 {
    position: absolute;
    top: 160px;
    left: 275px;
}

#animal-building-image-8 {
    position: absolute;
	top: 80px;
    left: 415px;
}

#animal-building-title-8 {
    position: absolute;
    top: 130px;
    left: 385px;
}

#animal-building-image-9 {
    position: absolute;
	top: 130px;
    left: 500px;
}

#animal-building-title-9 {
    position: absolute;
    top: 185px;
    left: 480px;
}