@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    /*height: 768px;*/
	height:110vh;
    cursor: pointer;
    background-image: url("../material/wood.jpg");
    background-repeat: no-repeat;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#information {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 400px;
    height: 150px;
    padding: 5px;
    border: 3px solid #fffce4;
    border-radius: 20px;
    background-color: #ffe89d;
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    
}

#vi_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 140px;
    display:inline-block;
    margin: 0px;
}

#data {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 2px solid black;    
    margin-left: 10px;
}

.title {
    font-size: 25px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 15px;
}

#boat {
    position: absolute;
    /*bottom: 40px;*/
	top: 50px;
    left: 800px;
    width: 130px;
    padding: 0px;
    margin: 0px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
	z-index: 2;
}

#name {
    font-family: 'Microsoft JhengHei';
    font-weight: border;
    color: maroon;
    font-size: 30px;
    margin-left: 10px;
}

#boat:hover{
    transition: .7s;
    transform: scale(1.1); 
}

#userContent{
	position: absolute;
    margin-left: 20px;
	margin-top: 180px;
    width: 900px;
    height: 450px;
    padding: 5px;
	font-size: 23px;
    font-weight: 600;
}

#studentTable {
	margin: auto;
	border-collapse:separate;
	border:1px solid black;
	margin-top:10%;
	background-color: white;
}

#chartBtn {
	background-color: red; 
	color: black; 
	--border: 3px solid #4CAF50;
	border: 3px solid red;
	box-shadow: 5px 5px 15px 0px #1b1919;
}

#chart1Btn {
	background-color: red; 
	color: black; 
	--border: 3px solid #4CAF50;
	border: 3px solid red;
	box-shadow: 5px 5px 15px 0px #1b1919;
}