@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
    cursor: pointer;
    background-image: url(../material/sea.png);
    background-repeat: no-repeat;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#information {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 400px;
    height: 130px;
    padding: 5px;
    border: 3px solid #fffce4;
    border-radius: 20px;
    background-color: #ffe89d;
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    
}

#vi_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 140px;
    display:inline-block;
    margin: 0px;
}

#data {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 2px solid black;    
    margin-left: 10px;
}

.title {
    font-size: 25px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 15px;
}

#boat {
    position: absolute;
    bottom: 40px;
    left: 25px;
    width: 130px;
    padding: 0px;
    margin: 0px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}

#name {
    font-family: 'Microsoft JhengHei';
    font-weight: border;
    color: maroon;
    font-size: 30px;
    margin-left: 10px;
}

#boat:hover, .button:hover{
    transition: .7s;
    transform: scale(1.1); 
}

.button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
  
  font-size: 23px;
  font-weight: 600;
  font-family: 'support';
}

#insertTheme {
  background-color: white; 
  color: black; 
  border: 3px solid #4CAF50;
  margin-top: 40%;
}
#insertSecondTheme {
  background-color: white; 
  color: black; 
  border: 3px solid #4CAF50;
}
#insertPractice {
  background-color: white; 
  color: black; 
  border: 3px solid #4CAF50;
}
#insertVocabulary {
  background-color: white; 
  color: black; 
  border: 3px solid #4CAF50;
}
#learningCourse {
  background-color: white; 
  color: black; 
  border: 3px solid #4CAF50;
}