@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
    cursor: pointer;
    background-image: url(../material/sea.png);
    background-repeat: no-repeat;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#information {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 400px;
    height: 130px;
    padding: 5px;
    border: 3px solid #fffce4;
    border-radius: 20px;
    background-color: #ffe89d;
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    
}

#vi_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 140px;
    display:inline-block;
    margin: 0px;
}

#data {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 2px solid black;    
    margin-left: 10px;
}

.title {
    font-size: 25px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 15px;
}

#boat {
    position: absolute;
    bottom: 40px;
    left: 25px;
    width: 130px;
    padding: 0px;
    margin: 0px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}

#name {
    font-family: 'Microsoft JhengHei';
    font-weight: border;
    color: maroon;
    font-size: 30px;
    margin-left: 10px;
}

#flashcard {
    font-weight: border;
    color: red;
    font-size: 30px;
    margin-left: 10px;
}

#bag {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 120px;
    padding: 0px;
    margin: 0px;
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
}

.island {
    width: 350px;
}

.island-image {
    width: 200px;
}

#island1 {
    position: absolute;
    top: 520px;
    left: 180px;
    width: auto;
}

#island2 {
    position: absolute;
    top: 410px;
    left: 260px;
    width: auto;
}

#island3 {
    position: absolute;
    top: 320px;
    left: 410px;
    width: auto;
}

#island4 {
    position: absolute;
    top: 410px;
    right: 260px;
    width: auto;
}

#island5 {
    position: absolute;
    top: 520px;
    right: 180px;
    width: auto;
}

#island6 {
    position: absolute;
    top: 450px;
    left: 7px;
    width: auto;
}

#island7 {
    position: absolute;
    top: 350px;
    left: 70px;
    width: auto;
}

#island8 {
    position: absolute;
    top: 260px;
    left: 190px;
    width: auto;
}

#island9 {
    position: absolute;
    top: 200px;
    left: 410px;
    width: auto;
}

#island10 {
    position: absolute;
    top: 260px;
    right: 190px;
    width: auto;
}

#island11 {
    position: absolute;
    top: 350px;
    right: 70px;
    width: auto;
}

#island12 {
    position: absolute;
    top: 450px;
    right: 7px;
    width: auto;
}

#island0 {
    position: absolute;
    top: 520px;
    left: 390px;
    width: auto;
}

#content-image {
    width: 115px;
    position: absolute;
    top: 24px;
    left: 43px;
}

.buliding {
    width: 20px;
}

#buliding-0-0 {
    position: absolute;
    top: 57px;
    left: 33px;
}
#buliding-0-1 {
    position: absolute;
    top: 73px;
    left: 59px;
}
#buliding-0-2 {
    position: absolute;
    top: 88px;
    left: 86px;
}
#buliding-0-3 {
    position: absolute;
    top: 86px;
    left: 131px;
}
#buliding-0-4 {
    position: absolute;
    top: 57px;
    left: 144px;
}

#island-name-animal {
    position: absolute;
    top: 140px;
    left: 10px;
    color:#FF9797;
}

.island-name {
    background-color: rgba(0,0,0,0.3);
    width: 180px;
    font-weight: 700;
    font-size: 25px;
	color:red;
}

.island:hover,#bag:hover,#boat:hover{
    transition: .7s;
    transform: scale(1.1); 
}
