<footer>
<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="field half first">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="special" />
										<a href="mailto:huitsun0436@gmail.com"></a>
										</li>								
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">	

									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>

									<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>

									<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
</footer>